@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        
            @Html.AntiForgeryToken()
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Mi Perfil" })
            
            <a class="btn btn-outline-primary" type="button" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
    }
}
else
{
     @*<div class="btn btn-outline-primary">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>*@
     <div class="btn btn-outline-primary">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
}
